table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #339966;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffcc66;
}

button.btn-actualizar{
    background-color: #33ccff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.btn-eliminar{
    background-color: #ff9933;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

